<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Merchants</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons [addLabel]="'New Merchant'"
                                     [addLink]="'home/merchants-management/merchants/create-merchant'"
                                     [approveLinkLabel]="'Approve'"
                                     [approveLink]="'home/merchants-management/merchants/approve-merchant'"
                                     [deleteLabel]="'Delete'"
                                     [endpoint]="'merchant'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Merchants'"
            [canExport]="true"
            [filterParams]="'Full Name, Phone Number, Email'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  