<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Forex Details</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons [addLabel]="'New Forex'"
                                     [addLink]="'home/system-config/forexs/create-forex'"
                                     
                                     [deleteLabel]="'Delete'"
                                     [endpoint]="'forex'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Forex Details'"
            [canExport]="true"
            [filterParams]="'symbol'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  