<div class="page">
  <section class="tile">
    <div class="info-title">
      <app-back-component></app-back-component>
      <h2>User</h2>
    </div>
    <div class="tile-body">

      <form [formGroup]="CreateUserWrapper" (ngSubmit)="onCreateUser(createForm)" #createForm="ngForm" role="form">

        <div class="row">
          <div class="form-group col-md-6">
            <label>Gender<span class="my_span"> *</span></label>
              <select  name="gender" class="form-control" name="gender" formControlName="gender"
              required>
                required>
             <option *ngFor="let gen of gender" value="{{gen.word}}">{{gen.word}}</option>
            </select>

            </div>
        </div>
        <h5 style="color: blue;">User Bio Data</h5>
        <div class="row">
          <div class="form-group col-md-6">
            <label>First Name<span class="my_span"> *</span></label>
            <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$"
                   name="firstName" formControlName="firstName" class="form-control" required="required" >

          </div>

          <div class="form-group col-md-6">
            <label>Last Name<span class="my_span"> *</span> </label>
            <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$"
                   name="lastName" formControlName="lastName" class="form-control" required >

          </div>
          <div class="form-group col-md-6">
            <label>Designation<span class="my_span"> *</span> </label>
            <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$"
                   name="position" formControlName="position" class="form-control" required >

          </div>


          <div class="form-group col-md-6">
            <label>National Id <span class="my_span"> *</span> </label>
            <input type="text"
                   name="national_id" formControlName="nationalId" class="form-control" required>

          </div>
        </div>
        <h5 style="padding-top: 13px; color: blue;">Contact Details</h5>

        <div class="row">
          <div class="form-group col-md-6">
            <label>Email Address<span class="my_span"> *</span></label>
            <input type="text" formControlName="email" type="email" name="email" class="form-control" required
                   pattern="([A-Za-z0-9_\-\.]+)@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,3})$">

          </div>

          <div class="form-group col-md-6">
            <label>Phone Number<span class="my_span"> *</span></label>
            <input type="tel" pattern="^[2][5][4][0-9]{9}$" maxlength="13" formControlName="phoneNumber"
                   name="msisdn" class="form-control" required />

          </div>
          <div class="form-group col-md-6">
            <label>Profile Picture</label>
            <input type="file" class="form-control"(change)="fileChange($event)" #fileInput  accept=" .png , .jpg , .gif" required ="required" name="file">
            </div>
            <div class="form-group col-md-6">
              <button class="save-button btn-block" mat-stroked-button (click)="scanFingerPrint()">
                  Scan FingerPrint
              </button>
              <img src="../../assets/finger.jpeg"class="responsive">
              <img src="../../assets/checked.png"class="responsive">

              <ng-container *ngIf="scanned">
                <img [src]="imageSource" class="responsive">
                <img src="../../assets/checked.png"class="responsive">
                <p>{{fingerprint.message}}</p>
                </ng-container>

              </div>
          <div class="col-md-12 pull-right">
            <button style="margin:5px;"  type="submit" mat-stroked-button
                    class="save-button pull-right">Save
            </button>
          </div>
        </div>



      </form>
    </div>
  </section>
</div>

