<div class="page">
  <section class="tile">
    <div class="info-title">
      <app-back-component></app-back-component>
      <h2>User</h2>
    </div>
    <div class="tile-body">
      <form (ngSubmit)="onCreateUser(createForm)" #createForm="ngForm" role="form">
        <div class="row">
          <div class="form-group col-md-4">
            <label>First Name<span class="my_span"> *</span></label>
            <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$"
                   name="firstName" [(ngModel)]="firstName" class="form-control" required="required" #firstname="ngModel">
            <div *ngIf="(firstname.dirty || firstname.touched) && firstname.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="firstname.errors.required">
                    First Name is required.
                  </span>
              <span class="invalid-input" *ngIf="firstname.errors.pattern">
                    First Name must be a valid name with at least 3 characters
                  </span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Last Name<span class="my_span"> *</span> </label>
            <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$"
                   name="lastName" [(ngModel)]="lastName" class="form-control" required #lastname="ngModel">
            <div *ngIf="(lastname.dirty || lastname.touched) && lastname.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="lastname.errors.required">
                    Last Name is required.
                  </span>
              <span class="invalid-input" *ngIf="lastname.errors.pattern">
                    Last Name must be a valid name with at least 3 characters
                  </span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Email Address<span class="my_span"> *</span></label>
            <input [(ngModel)]="model.email" type="email" name="email" class="form-control" required
                   pattern="([A-Za-z0-9_\-\.]+)@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,3})$" #email="ngModel">
            <div *ngIf="(email.dirty || email.touched) && email.invalid"
                 class="text-danger">
                  <span class="invalid-input" *ngIf="email.errors.required">
                    Email Address is required.
                  </span>
              <span class="invalid-input" *ngIf="email.errors.pattern">
                    Email Address must be a valid email
                  </span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Phone Number<span class="my_span"> *</span></label>
            <input type="tel" pattern="^[2][5][4][0-9]{9}$" maxlength="13" [(ngModel)]="model.phoneNumber"
                   name="msisdn" class="form-control" required #phoneNumber="ngModel"/>
            <div *ngIf="(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid"
                 class="text-danger">
                  <span class="invalid-input" *ngIf="phoneNumber.errors.required">
                    Phone Number is required.
                  </span>
              <span class="invalid-input" *ngIf="phoneNumber.errors.pattern">
                    Please enter a valid Kenyan phone number begining with 254....
                  </span>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Gender<span class="my_span"> *</span></label>
            <select [(ngModel)]="model.genderId" name="gender" class="form-control" #genderId="ngModel"
                    required>
              <option *ngFor="let gen of gender" value="{{gen.genderId}}">{{gen.gender}}</option>
            </select>
            <div *ngIf="(genderId.dirty || genderId.touched) && genderId.invalid"
                 class="text-danger">
                  <span class="invalid-input" *ngIf="genderId.errors.required">
                    Gender is required.
                  </span>
            </div>
          </div>


          <div class="form-group col-md-4">
            <label>User Type<span class="my_span"> *</span></label>
            <select [(ngModel)]="model.userTypeId" name="userTypeId" class="form-control" #userTypeId="ngModel"
                    required>
              <option *ngFor="let type of userType" value="{{type.typeId}}">{{type.userType}}</option>
            </select>
            <div *ngIf="(userTypeId.dirty || userTypeId.touched) && userTypeId.invalid"
                 class="text-danger">
                  <span class="invalid-input" *ngIf="userTypeId.errors.required">
                    User Type is required.
                  </span>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <div widget class="card">
              <div class="card-header col-md-12">
                <h3 class="sub-title">User Workgroups</h3>
              </div>
              <div class="card-body widget-body row m-20">
                <div class="col-sm-4" *ngFor="let role of systemRoles">
                  <div class="checkbox">
                    <input type="checkbox" value="{{role.groupId}}" [(ngModel)]="role.checked" [name]="role.groupName"/>
                    <label>{{role.groupName}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 pull-right">
            <button style="margin:5px;" [disabled]="!createForm.form.valid" type="submit" mat-stroked-button
                    class="save-button pull-right">Save
            </button>
          </div>
        </div>

      </form>
    </div>
  </section>
</div>

