<div class="tile-body">
<form (ngSubmit)="onCreateForm(createForm)" #createForm="ngForm" role="form">

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <h4>Search Customer</h4>
    <div class="row">
      <div class="form-group col-md-6">
          <label>Id<span class="my_span"> *</span></label>
          <input type="text" pattern="^[2][5][4][0-9]{9}$" maxlength="8" [(ngModel)]="model.idNumber" [readOnly]="isReadOnly"
              name="idNumber"  class="form-control" required="required"
              #name="ngModel">
          <div *ngIf="(name.dirty || name.touched) && name.invalid" class="text-danger">
              <span class="invalid-input" *ngIf="name.errors.required">
                  Id Number is required.
              </span>
              <span class="invalid-input" *ngIf="name.errors.pattern">
                  Id Number must be a valid name with at least 8 numbers
              </span>
          </div>
      </div>

        <div class="form-group col-md-6">
            <label>First Name<span class="my_span"> *</span></label>
            <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
                name="firstName" [(ngModel)]="model.firstName" class="form-control" required="required"
                #name="ngModel">
            <div *ngIf="(name.dirty || name.touched) && name.invalid" class="text-danger">
                <span class="invalid-input" *ngIf="name.errors.required">
                    First Name is required.
                </span>
                <span class="invalid-input" *ngIf="name.errors.pattern">
                    First Name must be a valid name with at least 3 characters
                </span>
            </div>
        </div>


      </div>
      <h4 style="padding-top: 5px;">Personal Information</h4>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Phone Number<span class="my_span"> *</span></label>
          <input type="tel" pattern="^[2][5][4][0-9]{9}$" maxlength="13" [(ngModel)]="model.mobileNumber" [readOnly]="isReadOnly"
              name="mobileNumber" class="form-control" required #mobileNumber="ngModel" />
          <div *ngIf="(mobileNumber.dirty || mobileNumber.touched) && mobileNumber.invalid" class="text-danger">
              <span class="invalid-input" *ngIf="mobileNumber.errors.required">
                mobile Number is required.
              </span>
              <span class="invalid-input" *ngIf="mobileNumber.errors.pattern">
                  Please enter a valid Kenyan Mobile number beginning with 254....
              </span>
          </div>
      </div>

      <div class="form-group col-md-6">
        <label>Sur Name<span class="my_span"> *</span></label>
        <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
            name="surname" [(ngModel)]="model.surname" class="form-control" required="required"
            #surname="ngModel">
        <div *ngIf="(surname.dirty || surname.touched) && surname.invalid" class="text-danger">
            <span class="invalid-input" *ngIf="surname.errors.required">
                SurName is required.
            </span>
            <span class="invalid-input" *ngIf="name.errors.pattern">
              SurName must be a valid name with at least 3 characters
            </span>
        </div>
    </div>

      </div>

  </mat-step>

</mat-horizontal-stepper>
</form>
</div>
