<div class="tile-body">
  <form [formGroup]="secondFormGroup" (ngSubmit)="onSecondForm()" role="form">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Id Number<span class="my_span"> *</span></label>
        <input type="text"  formControlName="customerID" [readOnly]="isReadOnly"
        name="customerID"  class="form-control" required="required" >

      </div>
      <div class="form-group col-md-2">
      <button type="submit" style="margin-top:25px;" mat-button (click)="onSecondForm()"
      class="btn btn-info">Search
      </button>
      </div>
    </div>

  </form>
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <form  [formGroup]="customerModel" (ngSubmit)="onCreateForm()" #createForm="ngForm" role="form">
<!-- <mat-step>
  <h4>Search Customer</h4>
  <div style="float: right;">

    <button mat-button matStepperNext class="btn btn-primary ">Next</button>
</div>

</mat-step> -->
  <mat-step>
          <div class="row">
              <div class="form-group col-md-6">
                  <label>Id<span class="my_span"> *</span></label>
                  <input type="text" pattern="^[2][5][4][0-9]{9}$" maxlength="8" formControlName="idNumber" [readOnly]="isReadOnly"
                      name="idNumber"  class="form-control" required="required"
                     >
                  <!-- <div *ngIf="(name.dirty || name.touched) && name.invalid" class="text-danger">
                      <span class="invalid-input" *ngIf="name.errors.required">
                          Id Number is required.
                      </span>
                      <span class="invalid-input" *ngIf="name.errors.pattern">
                          Id Number must be a valid name with at least 8 numbers
                      </span>
                  </div> -->
              </div>

                <div class="form-group col-md-6">
                    <label>First Name<span class="my_span"> *</span></label>
                    <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$"  formControlName="firstName"  [readOnly]="isReadOnly"
                        name="firstName"  class="form-control" required="required"
                        >
                    <!-- <div *ngIf="(name.dirty || name.touched) && name.invalid" class="text-danger">
                        <span class="invalid-input" *ngIf="name.errors.required">
                            First Name is required.
                        </span>
                        <span class="invalid-input" *ngIf="name.errors.pattern">
                            First Name must be a valid name with at least 3 characters
                        </span>
                    </div> -->
                </div>

              </div>
              <h4 style="padding-top: 20px;">Personal Information</h4>
            <div class="row">
                <div class="form-group col-md-6">
                  <label>Phone Number<span class="my_span"> *</span></label>
                  <input type="tel" pattern="^[2][5][4][0-9]{9}$" formControlName="mobileNumber"  maxlength="13" [readOnly]="isReadOnly"
                      name="mobileNumber" class="form-control" required  />
                  <!-- <div *ngIf="(mobileNumber.dirty || mobileNumber.touched) && mobileNumber.invalid" class="text-danger">
                      <span class="invalid-input" *ngIf="mobileNumber.errors.required">
                        mobile Number is required.
                      </span>
                      <span class="invalid-input" *ngIf="mobileNumber.errors.pattern">
                          Please enter a valid Kenyan Mobile number beginning with 254....
                      </span>
                  </div> -->
              </div>

              <div class="form-group col-md-6">
                <label>SurName<span class="my_span"> *</span></label>
                <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
                    name="surname" formControlName="surname" class="form-control" required="required"
                    >
                <!-- <div *ngIf="(surname.dirty || surname.touched) && surname.invalid" class="text-danger">
                    <span class="invalid-input" *ngIf="surname.errors.required">
                        SurName is required.
                    </span>
                    <span class="invalid-input" *ngIf="name.errors.pattern">
                      SurName must be a valid name with at least 3 characters
                    </span>
                </div> -->
            </div>

            <div class="form-group col-md-6">
              <label>Occupation<span class="my_span"> *</span></label>
              <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"  formControlName="occupation"
                  name="occupation"  class="form-control" required="required"
                 >
              <!-- <div *ngIf="(occupation.dirty || occupation.touched) && occupation.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="occupation.errors.required">
                    occupation is required.
                  </span>
                  <span class="invalid-input" *ngIf="name.errors.pattern">
                    occupation must be a valid name with at least 3 characters
                  </span>
              </div> -->
              </div>
              <div class="form-group col-md-6">
                <label>Employee Number<span class="my_span"> *</span></label>
                <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly" formControlName="employeeNumber"
                    name="employeeNumber"  class="form-control" required="required"
                   >
                <!-- <div *ngIf="(employeeNumber.dirty || employeeNumber.touched) && employeeNumber.invalid" class="text-danger">
                    <span class="invalid-input" *ngIf="employeeNumber.errors.required">
                      Employee Number is required.
                    </span>
                    <span class="invalid-input" *ngIf="name.errors.pattern">
                      Employee Number must be a valid name with at least 3 characters
                    </span>
                </div> -->
          </div>
          <div class="form-group col-md-6">
            <label>KRA pin<span class="my_span"> *</span></label>
            <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly" formControlName="kraPin"
                name="kraPin"  class="form-control" required="required"
               >
            <!-- <div *ngIf="(kraPin.dirty || kraPin.touched) && kraPin.invalid" class="text-danger">
                <span class="invalid-input" *ngIf="kraPin.errors.required">
                  KRA Pin is required.
                </span>
                <span class="invalid-input" *ngIf="name.errors.pattern">
                  KRA pin must be a valid name with at least 8 characters
                </span>
            </div> -->
        </div>
        <div class="form-group col-md-6">
          <label>Email Address<span class="my_span"> *</span></label>
          <input type="email" name="emailAddress" class="form-control" formControlName="emailAddress" required [readOnly]="isReadOnly"
              pattern="([A-Za-z0-9_\-\.]+)@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,3})$"
              >
          <!-- <div *ngIf="(emailAddress.dirty || emailAddress.touched) && emailAddress.invalid" class="text-danger">
              <span class="invalid-input" *ngIf="emailAddress.errors.required">
                  Email Address is required.
              </span>
              <span class="invalid-input" *ngIf="emailAddress.errors.pattern">
                  Email Address must be a valid email
              </span>
          </div> -->
        </div>
        <div class="form-group col-md-6">
          <label>Current Address<span class="my_span"> *</span></label>
          <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
              name="currentAddress" formControlName="currentAddress" class="form-control" required="required"
              >
        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Name<span class="my_span"> *</span></label>
          <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
              name="nextofkinname" formControlName="nextofkinname" class="form-control" required="required"
              >
        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Relationship<span class="my_span"> *</span></label>
          <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
              name="nextofkinrelationship" formControlName="nextofkinrelationship" class="form-control" required="required"
              >
        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Mobile Number<span class="my_span"> *</span></label>
          <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
              name="nextofkinmobileNumber" formControlName="nextofkinmobileNumber" class="form-control" required="required"
              >
        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Address<span class="my_span"> *</span></label>
          <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
              name="nextofkinaddress" formControlName="nextofkinaddress" class="form-control" required="required"
              >
        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Occupation<span class="my_span"> *</span></label>
          <input type="text" pattern="^(?=.*[A-z].*[A-z])[A-z-'.\s]{3,}$" [readOnly]="isReadOnly"
              name="nextofkinoccupation" formControlName="nextofkinoccupation" class="form-control" required="required"
              >
        </div>



        <div class="form-group col-md-6">
          <label>Customer Status</label>
          <select formControlName="status"  name="status" placeholder="Select Customer Status"  class="form-control " required>
              <option *ngFor="let status of customerStatus" value="{{status.id}}">{{status.description}}</option>
          </select>

      </div>
      <div class="form-group col-md-6">
        <label>Sector</label>
        <select formControlName="sectors"  name="sectors" placeholder="Select Customer Sector"  class="form-control " required>
            <option *ngFor="let sect of sectors" value="{{sect.id}}">{{sect.description}}</option>
        </select>

    </div>

        <div class="form-group col-md-6">
          <label>Select industry</label>
          <select formControlName="ids"  name="ids" placeholder="Select Industry"  class="form-control " required>
              <option *ngFor="let ind of industries" value="{{ind.id}}">{{ind.description}}</option>
          </select>

      </div>
      <div class="form-group col-md-6">
        <label>Account Officer</label>
        <select formControlName="account_officer"  name="account_officer" placeholder="Account Officer"  class="form-control " required>
            <option *ngFor="let acc of accOfficer" value="{{acc.id}}">{{acc.description}}</option>
        </select>

    </div>


      </div>
      <div style="float: right;">
        <button mat-button matStepperNext class="btn btn-primary ">Next</button>
    </div>

  </mat-step>

  <mat-step>

    <div class="row">
    <div class="form-group col-md-6">
      <label>Customer Photo</label>
      <input type="file" class="form-control"  (change)="fileChange($event)"   accept=" .png , .jpg , .gif"  required ="required" name="file">
      </div>
      <!-- <button style="margin:20px;" type="button" mat-stroked-button (click)="upload('customerPhoto')"
          class="save-button ">upload
    </button> -->

</div>
  <div class="row">
        <div class="form-group col-md-6">
          <label>National Id Document</label>
          <input type="file" (change)="file1Change($event)" class="form-control"   accept=" .png , .jpg , .gif"  required ="required" name="file1">
        </div>
        <!-- <button style="margin:20px;" type="submit" mat-stroked-button
        class="save-button ">upload
  </button> -->

  </div>
    <div style="float: right;">
      <button class="btn btn-primary" style="margin-right: 3px;" mat-button
      matStepperPrevious>Back
</button>
<div style="float: right;">
  <button mat-button matStepperNext class="btn btn-primary ">Next</button>
</div>

  </div>

  </mat-step>
  <mat-step>
      <div class="row">
        <div class="form-group col-md-6">

        </div>

      </div>
    <div style="float: right;">
      <button class="btn btn-primary" style="margin-right:3px;" mat-button
      matStepperPrevious>Back

      </button>
      <button type="submit" mat-button (click)="onCreateForm()"
      class="btn btn-info">Submit
      </button>

    </div>

  </mat-step>

</form>
</mat-horizontal-stepper>
</div>
