<div class="tile-body">
  <div class="row">
    <!-- <div class="form-group col-md-6">
    <button class="save-button btn-block" mat-stroked-button (click)="scanFingerPrint()">
        Scan FingerPrint
    </button>
    <ng-container *ngIf="scanned">
      <img [src]="imageSource" class="responsive">
      <img src="../../assets/checked.png"class="responsive">
      <p>{{fingerprint.message}}</p>
      </ng-container>

    </div> -->

  </div>
  <form [formGroup]="secondFormGroup"  #form="ngForm"  (ngSubmit)="onSecondForm()" role="form">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Id Number<span class="my_span"> *</span></label>
        <input type="text"  formControlName="customerID" [readOnly]="isReadOnly"
        name="customerID"  class="form-control" required="required" >

      </div>
      <div class="form-group col-md-2">
      <button type="submit" style="margin-top:25px;" mat-button (click)="onSecondForm()"
      class="btn btn-info">Search
      </button>
      </div>
    </div>

  </form>
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <form  [formGroup]="customerModel" (ngSubmit)="onCreateForm()" #createForm="ngForm"  #form="ngForm" role="form">
<!-- <mat-step>
  <h4>Search Customer</h4>
  <div style="float: right;">

    <button mat-button matStepperNext class="btn btn-primary ">Next</button>
</div>

</mat-step> -->
  <mat-step>
          <div class="row">
              <div class="form-group col-md-6">
                  <label>National Id<span class="my_span"> *</span></label>
                  <input type="text"  maxlength="8" formControlName="idNumber" [readOnly]="isReadOnly"
                      name="idNumber"  class="form-control" required="required"
                     >
                     <div>
                    </div>
              </div>

              <div class="form-group col-md-6">
                <label>Phone Number<span class="my_span"> *</span></label>
                <input type="tel" pattern="^[2][5][4][0-9]{9}$" formControlName="mobileNumber"  maxlength="13" [readOnly]="isReadOnly"
                    name="mobileNumber" class="form-control" required  />

            </div>


              </div>
              <h4 style="padding-top: 20px;">Personal Information</h4>
            <div class="row">

              <div class="form-group col-md-6">
                <label>First Name<span class="my_span"> *</span></label>
                <input type="text"   formControlName="firstName"  [readOnly]="isReadOnly"
                    name="firstName"   class="form-control" required="required"
                    >

            </div>

              <div class="form-group col-md-6">
                <label>SurName<span class="my_span"> *</span></label>
                <input type="text"  [readOnly]="isReadOnly"
                    name="surname" formControlName="surname" class="form-control" required="required"
                    >
            </div>
            <div class="form-group col-md-6">
              <label>Other names<span class="my_span"> *</span></label>
              <input type="text"  [readOnly]="isReadOnly"  formControlName="occupation"
                  name="occupation"  class="form-control" required="required"
                 >

              </div>

            <div class="form-group col-md-6">
              <label>Title<span class="my_span"> *</span></label>
              <input type="text"  [readOnly]="isReadOnly" formControlName="title"
                  name="employeeNumber"  class="form-control" required="required"
                 >
              </div>




            <div class="form-group col-md-6">
              <label>Occupation<span class="my_span"> *</span></label>
              <input type="text"  [readOnly]="isReadOnly"  formControlName="occupation"
                  name="occupation"  class="form-control" required="required"
                 >

              </div>
              <div class="form-group col-md-6">
                <label>Employee Number<span class="my_span"> *</span></label>
                <input type="text"  [readOnly]="isReadOnly" formControlName="otherNames"
                    name="employeeNumber"  class="form-control" required="required"
                   >
          </div>

        <div class="form-group col-md-6">
          <label>Date of birth<span class="my_span"> *</span></label>
          <input type="date"  [readOnly]="isReadOnly"  formControlName="dateOfBirth"
              name="occupation"  class="form-control" required="required"
             >

          </div>
          <div class="form-group col-md-6">
            <label>Signature<span class="my_span"> *</span></label>
            <input type="file"  [readOnly]="isReadOnly" (change)="fileSignature($event)"
                name="employeeNumber"  class="form-control" required="required"
               >
      </div>
          <div class="form-group col-md-6">
            <label>KRA pin<span class="my_span"> *</span></label>
            <input type="text" [readOnly]="isReadOnly" formControlName="kraPin"
                name="kraPin"  class="form-control" required="required">


        </div>
        <div class="form-group col-md-6">
          <label>Email Address<span class="my_span"> *</span></label>
          <input type="email" name="emailAddress" class="form-control" formControlName="emailAddress" required [readOnly]="isReadOnly"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              >
              <div>
          <span *ngIf="email.hasError('pattern')" class="text-danger">Invalid email</span>
              </div>

        </div>
        <div class="form-group col-md-6">
          <label>Current Address<span class="my_span"> *</span></label>
          <input type="text"  [readOnly]="isReadOnly"
              name="currentAddress" formControlName="currentAddress" class="form-control" required="required"
              >

        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Name<span class="my_span"> *</span></label>
          <input type="text"  [readOnly]="isReadOnly"
              name="nextofkinname" formControlName="nextofkinname" class="form-control" required="required"
              >

        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Relationship<span class="my_span"> *</span></label>
          <input type="text"  [readOnly]="isReadOnly"
              name="nextofkinrelationship" formControlName="nextofkinrelationship" class="form-control" required="required"
              >

        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Mobile Number<span class="my_span"> *</span></label>
          <input type="text" pattern="^[2][5][4][0-9]{9}$" [readOnly]="isReadOnly"
              name="nextofkinmobileNumber" formControlName="nextofkinmobileNumber" class="form-control" required="required"
              >
              <div>

          <span *ngIf="customerModel.get('nextofkinmobileNumber').hasError('pattern')">Invalid phone</span>
              </div>
        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Address<span class="my_span"> *</span></label>
          <input type="text"  [readOnly]="isReadOnly"
              name="nextofkinaddress" formControlName="nextofkinaddress" class="form-control" required="required"
              >

        </div>
        <div class="form-group col-md-6">
          <label>Next of Kin Occupation<span class="my_span"> *</span></label>
          <input type="text"  [readOnly]="isReadOnly"
              name="nextofkinoccupation" formControlName="nextofkinoccupation" class="form-control" required="required"
              >

        </div>



        <div class="form-group col-md-6">
          <label>Customer Status</label>
          <select formControlName="status"  name="status" placeholder="Select Customer Status"  class="form-control " required>
              <option *ngFor="let status of customerStatus" value="{{status.id}}">{{status.description}}</option>
          </select>

      </div>
      <div class="form-group col-md-6">
        <label>Sector</label>
        <select formControlName="sectors"  name="sectors" placeholder="Select Customer Sector"  class="form-control " required>
            <option *ngFor="let sect of sectors" value="{{sect.id}}">{{sect.description}}</option>
        </select>
        <div>
          <span class="text-danger"
          *ngIf="customerModel.get('sectors').invalid && customerModel.get('sectors').touched">
       Sector is required
    </span>
        </div>

    </div>

        <div class="form-group col-md-6">
          <label>Select industry</label>
          <select formControlName="ids"  name="ids" placeholder="Select Industry"  class="form-control " required>
              <option *ngFor="let ind of industries" value="{{ind.id}}">{{ind.description}}</option>
          </select>


      </div>
      <div class="form-group col-md-6">
        <label>Account Officer</label>
        <select formControlName="account_officer"  name="account_officer" placeholder="Account Officer"  class="form-control " required>
            <option *ngFor="let acc of accOfficer" value="{{acc.id}}">{{acc.description}}</option>
        </select>

    </div>


      </div>
      <div style="float: right;">
        <button mat-button matStepperNext class="btn btn-primary ">Next</button>
    </div>

  </mat-step>

  <mat-step>

    <div class="row">
    <div class="form-group col-md-6">
      <label>Customer Photo</label>
      <input type="file" class="form-control"  (change)="fileChange($event)"   accept=" .png , .jpg , .gif"  required ="required" name="file">
      </div>
      <!-- <button style="margin:20px;" type="button" mat-stroked-button (click)="upload('customerPhoto')"
          class="save-button ">upload
    </button> -->

</div>
  <div class="row">
        <div class="form-group col-md-6">
          <label>National Id Document</label>
          <input type="file" (change)="file1Change($event)" class="form-control"   accept=" .png , .jpg , .gif"  required ="required" name="file1">
        </div>
        <!-- <button style="margin:20px;" type="submit" mat-stroked-button
        class="save-button ">upload
  </button> -->

  </div>
    <div style="float: right;">
      <button class="btn btn-primary" style="margin-right: 3px;" mat-button
      matStepperPrevious>Back
</button>
<div style="float: right;">
  <button mat-button matStepperNext class="btn btn-primary ">Next</button>
</div>

  </div>

  </mat-step>
  <mat-step>
      <div class="row">
        <div class="form-group col-md-6">
        <button class="save-button btn-block" mat-stroked-button (click)="scanFingerPrint()">
            Scan FingerPrint
        </button>
        <!-- <img src="../../assets/finger.jpeg"class="responsive">
        <img src="../../assets/checked.png"class="responsive"> -->

        <ng-container *ngIf="scanned">
          <img [src]="imageSource" class="responsive">
          <img src="../../assets/checked.png"class="responsive">
          <!-- <p>{{fingerprint.message}}</p> -->
          </ng-container>

        </div>

      </div>
    <div style="float: right;">
      <button class="btn btn-primary" style="margin-right:3px;" mat-button
      matStepperPrevious>Back

      </button>
      <button type="submit" mat-button (click)="onCreateForm()"
      class="btn btn-info">Submit
      </button>

    </div>

  </mat-step>

</form>
</mat-horizontal-stepper>
</div>
