<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Essential Workers</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons [addLabel]="'New Essential Workers'"
                                     [addLink]="'home/citizens/create-essential-workers'"
                                     [approveLinkLabel]="'Approve'"
                                     [approveLink]="'home/police/approve-police-officer'"
                                     [deleteLabel]="'Delete Essential Workers'"
                                     [endpoint]="'app/rest/v2/services/ecurfew_DeleteEssentialWorkersService/deleteEssentialWorker'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Essential Workers'"
            [canExport]="true"
            [filterParams]="'Full Name, Phone Number, Email'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  