<div class="page">
  <section class="tile">
  <div class="info-title">
  <h2>Industry</h2>
  </div>
  <div class="tile-body">
  <app-functionality-buttons [addLabel]="'Add Industry'"
  [addLink]="'home/master-data/add-industry'"
  [deleteLabel]="'Delete'"
  [approveLink]="'home/master-data/approve-industry'"
  [endpoint]="'fortis/rest/v2/services/fortis_DisableIndustryService/DisableIndustry'"></app-functionality-buttons>
  <app-custom-datatable
  [endpoint]="endpoint"
  [routeView]="routeView"
  [hasCheckBox]="hasCheckBox"
  [cols]="cols"
  [idColumn]="idColumn"
  [params]="params"
  [hasShowEntries]="true"
  [fileName]="'Industry'"
  [canExport]="true"
  [filterParams]="''"
  [isFilterPresent]="true"
  ></app-custom-datatable>
  </div>
  </section>
  </div>
