
.page {


  /* Location of the image */
  /* background-image: url(../../assets/pure-white.png); */

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#FFFFFF;

  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */

}
.tryme{

  font-family: poppins;
  font-size: 25px;
  color: #666666;
  font-weight: lighter;

}
.trynot{

  font-family: poppins;
  color: #1B262C ;
  font-weight: lighter;
}

.trynotr{

  color:#666666;
}
.opt-form {
  margin-top: 74px;
  width: 400px;
  height: 300px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #EAECED;
  border-radius: 5px;
  opacity: 1;



}

input[type="password"] {
  /*background: transparent;*/
  background-color: #FFFFFF;
  font-size: 14px;
  color: #000000;
  border-color: #3282B8 ;
}

.form-control.ng-touched.ng-invalid {
  border-left: 4px solid #F3B431;
}

a {
  text-decoration: none;
  color: #1B262C ;
}

.to-login {
  margin-top: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F7F9FA;
  color: #666666;
  text-align: center;
}
label{
  display: flex;
  color:rgb(102, 119, 128);
  font-weight: unset;
}
.my_span{
  color: #3282B8 ;
}
.custom_span{
  color:#666666;
}
.btn {
  background-color: #3282B8;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}