
    <div class="row">
      <div class="col-sm right-side" >
        
        <div class="centered">
          <img src="./../../assets/new-fortis-logo.png" class="responsive"alt="">
        </div>
      </div>
      <div class="col-sm left-side" >
        <div>
          <button class="save-button btn-block centered-button-login" (click)="onLoginClick()" mat-stroked-button>Login with UserName and Password</button>
        </div>
        <div>
          <button class="save-button btn-block centered-button-biometrics" (click)="onBiometrics()" mat-stroked-button>Login with Biometrics</button>
        </div>
      </div>
    </div>
 

  