<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <app-back-component></app-back-component>
          <h2>Approve Police Officer</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons [addLabel]="'New Police Officer'"
                                     [addLink]="'home/police/create-police-officer'"
                                     [approveLabel]="'Approve'"
                                     [approveLink]="'app/rest/v2/services/ecurfew_MakerCheckerService/approvePoliceOfficer'"
                                     [declineLabel]="'Decline'"
                                     [endpoint]="'app/rest/v2/services/ecurfew_MakerCheckerService/approvePoliceOfficer'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Police Officers'"
            [canExport]="true"
            [filterParams]="'Full Name, Phone Number, Email'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  