<div class="page">
  <section class="tile">
    <div class="info-title">
      <app-back-component></app-back-component>
      <h2>Add Industry</h2>
    </div>
    <div class="tile-body">
      <form (ngSubmit)="onCreateForm(createForm)" #createForm="ngForm" role="form">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Industry Name</label>
            <input type="text"  [readOnly]="isReadOnly"
                   name="description" [(ngModel)]="model.description" class="form-control" required="required" #name="ngModel">
            <div *ngIf="(name.dirty || name.touched) && name.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="name.errors.required">
                    Industry Name is required.
                  </span>
              <!-- <span class="invalid-input" *ngIf="name.errors.hasError(pattern)">
                    Industry Name must be a valid name with at least 3 characters
                  </span> -->
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Industry Code</label>
            <input type="text" [readOnly]="isReadOnly" pattern="^[0-9]+$"
                   name="code" [(ngModel)]="model.code" class="form-control" required
                   #code="ngModel">
            <div *ngIf="(code.dirty || code.touched) && code.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="code.errors.required">
                    Code is required.
                  </span>
                  <span class="invalid-input" *ngIf="code.hasError('pattern')">
                    Code should be numbers
                  </span>
            </div>
          </div>


          <div class="col-md-12 pull-right">
            <button style="margin:5px;" [disabled]="!createForm.form.valid" type="submit" mat-stroked-button
                    class="save-button pull-right">Save
            </button>
            <button type="button" *ngIf="!isUpdate && isView" (click)="enableUpdate()" mat-stroked-button
                    class="enable-update pull-right">
              Enable Update
            </button>
            <button *ngIf="isUpdate && isView" [disabled]="createForm.form.invalid" type="submit" mat-stroked-button
                    class="update-button pull-right">
              Update
            </button>
            <button type="button" *ngIf="isUpdate && isView" (click)="disableUpdate()" mat-stroked-button
                    class="disable-update county-disable pull-right">
              Disable Update
            </button>
          </div>

        </div>
      </form>
    </div>
  </section>
</div>
