<div class="page">
  <section class="tile">
    <div class="info-title">
      <app-back-component></app-back-component>
      <h2>Authenticate Transaction</h2>
    </div>
    <div class="tile-body">
      <div class="form-group col-md-6">
        <button class="save-button btn-block" mat-stroked-button (click)="scanFingerPrint()">
          Scan FingerPrint
      </button>
        <!-- <img src="../../assets/finger.jpeg"class="responsive">
        <img src="../../assets/checked.png"class="responsive"> -->



        </div>
      <form [formGroup]="authenticateModel" (ngSubmit)="onAuthenticate(createForm)" #createForm="ngForm" role="form">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Finger Type<span class="my_span"> *</span></label>
              <select  name="fingerType" class="form-control" name="fingerType" formControlName="fingerType"
              required>
             <option *ngFor="let fin of fingerType" value="{{fin.word}}">{{fin.word}}</option>
            </select>

            <div>
              <span class="text-danger"
              *ngIf="authenticateModel.get('fingerType').invalid && authenticateModel.get('fingerType').touched
              &&authenticateModel.get('fingerType').errors.required">
          Gender is required
          </span>
          </div>
            </div>
        </div>
        <ng-container *ngIf="scanned">
          <img [src]="imageSource" class="responsive">
          <img src="../../assets/checked.png"class="responsive">
          <!-- <p>{{fingerprint.message}}</p> -->
          </ng-container>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Natonal Id</label>
            <input type="text"
                   name="description" formControlName="idNumber"  class="form-control" required="required">

          </div>

          <div class="form-group col-md-6">
            <label>Transaction Id</label>
            <input type="text"
                   name="code" formControlName="transactionId"  class="form-control" required >
          </div>

        <div class="col-md-12 pull-right">
          <button style="margin:5px;"  type="submit" mat-stroked-button
                  class="save-button pull-right">Authenticate
          </button>
        </div>


        </div>
      </form>
    </div>
  </section>
</div>
